In [41]:
import pandas as pd
import numpy as np

In [48]:
games= pd.read_csv(r"C:\Users\Lenovo\Downloads\archive\steam_games.csv")

In [49]:
games_copy= games.copy()

In [50]:
games_copy.drop(columns=['url', 'types','desc_snippet', 'recent_reviews', 'all_reviews', 'popular_tags','game_details', 'languages', 'achievements', 'game_description', 'mature_content', 'minimum_requirements','recommended_requirements', 'discount_price'], inplace=True)

In [51]:
def valores_faltantes(data):
    # Contar valores nulos y vac√≠os
    total_nulos = data.isnull().sum()
    total_vacios = (data == '').sum()

    # Sumar ambos tipos de valores faltantes
    total = total_nulos + total_vacios

    # Calcular el porcentaje de valores faltantes
    porcentaje_nulos = (total_nulos / len(data)) * 100
    porcentaje_vacios = (total_vacios / len(data)) * 100

    # Crear DataFrame con el resumen de valores faltantes
    tt = pd.concat([total_nulos, porcentaje_nulos, total_vacios, porcentaje_vacios], axis=1, keys=['Total Nulos', 'Porcentaje Nulos', 'Total Vacios', 'Porcentaje Vacios'])

    # Identificar los tipos de datos de las columnas
    tt['Tipos'] = [str(data[col].dtype) for col in data.columns]

    return np.transpose(tt)

valores_faltantes(games_copy)

,name,release_date,developer,publisher,genre,original_price
Total Nulos,16,3179,343,5100,438,5311
Porcentaje Nulos,0.039184,7.78537,0.840007,12.489898,1.072662,13.006637
Total Vacios,0,0,0,0,0,0
Porcentaje Vacios,0.0,0.0,0.0,0.0,0.0,0.0
Tipos,object,object,object,object,object,object

In [52]:
games_copy.to_parquet('ext_bdgames.parquet', index=False)